@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
	--font-base: 'Dancing Script', cursive;
	--black-color: #161d27;
	--grey-color: #acb9c4;
	--light-grey-color: #ccd4dc;
	--bronce-color: #b49c90;
	--gold-color: #fcda9a;
	--brown-color: #46364a;
	--white-color: #ffffff;
}
body {
	background: url('https://img.freepik.com/free-photo/kitchen-cooking-background_107389-2345.jpg?w=2000');
	height: 97.4vh;
	background-size: cover;
	background-repeat: repeat;
	margin-bottom: 0rem;
	padding-bottom: 0rem;
}
