.Main {
	background-color: rgba(204, 212, 220, 0.9);
	width: 50%;
	border-radius: 5px;
}
.Verif {
	background-color: #000000;
	color: red;
	font-weight: bolder;
	width: 40%;
	height: 1.4rem;
	text-align: center;
	margin: 0.2rem 0.1rem;
	border-radius: 10px;
	padding: 0.5rem;
}
.Zone {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.Input {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.Main input {
	width: 55%;
	margin: 0.2rem 1rem;
	border-radius: 10px;
	padding: 0.5rem;
}
.Main input.InputDietTypes {
	width: 15%;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
}

.Main label {
	margin: 0.2rem;
	padding: 0.2rem;
	background-color: var(--black-color);
	color: var(--bronce-color);
	font-size: 30px;
	border-radius: 5px;
}

.List {
	display: flex;
	flex-direction: row;
	width: 80%;
}

.dietSelection {
	background-color: var(--grey-color);
	width: auto;
	height: fit-content;
}
.typeOfDish {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.SelectList {
	height: fit-content;
	margin: 0 1rem;
}
.button {
	margin: 0.2rem;
	padding: 0.2rem;
	background-color: var(--black-color);
	color: var(--bronce-color);
	font-size: 30px;
	border-radius: 5px;
}
.button:hover {
	margin: 0.2rem;
	padding: 0.2rem;
	background-color: var(--grey-color);
	color: var(--gold-color);
	font-size: 30px;
	border-radius: 5px;
}

.Main li {
	font-size: 20px;
	font-weight: bold;
	list-style-type: none;
}

.DietZone {
	display: flex;
	flex-direction: column;
}
.DietZone label {
	width: fit-content;
}
.InputCheckbox {
	display: flex;
	flex-direction: column;
}
.CheckboxArea {
	width: auto;
	display: grid;
	gap: 1rem;
	grid-auto-rows: 4rem;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	background-color: rgba(22, 29, 39, 0.5);
}
.InputDietTypes {
	accent-color: var(--black-color);
	min-width: 1rem;
}
