p.verif {
	display: inline;
	padding-left: 2%;
	background-color: #00000096;
	color: red;
	font-weight: bolder;
}
label {
	left: 0px;
	background-color: rgba(240, 248, 255, 0.5);
	font-weight: bold;
	border: 1px solid #000000;
	margin: 1px;
}
div {
	position: static;
}
