h4 {
	margin: auto;
	padding: 0.1rem;
	background-color: rgba(70, 80, 99, 0.694);
	color: lightblue;
	border-radius: 5%;
	width: fit-content;
	max-width: 70%;
	font-weight: bolder;
}

h3 {
	margin: auto;
	padding: 0.1rem;
	background-color: rgba(55, 60, 70, 0.598);
	color: lightblue;
	border-radius: 5%;
	font-weight: bolder;
	width: fit-content;
}

